# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\honor_IDEA_myProject\ideaProj_web\ideaProj_web_onTomcat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
